/*  Add your styling here */

.container-fluid {
    background-color: white;
    border-style: dashed;
    border-color: #f72585;
    text-align: center;
    color: #7209b7;
    font-size: 20px;
    font-weight: bold;
}

@media (min-width: 540px) {
    .container-fluid {
        font-size: 30px;        
    }
    
}

@media (min-width: 900px) {
    .container-fluid {
        font-size: 50px;    
        
    }
    
}