/*  Add your styling here */

body {
    margin: 10px;
    padding: 10px;
    background-color: #deaaff;
}

/* Navbar */
.navbar-brand {
    font-size: 2rem;
    font-family: 'Jomhuria';
    display: flex;
}

.container-fluid {
    border-style: dashed;
    border-color: #f72585;
    background-image: url(https://images.unsplash.com/photo-1521309918586-feb7aa79a61b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=334&q=80
    );
    display: flex;
}

.col-recipe {
    background-color: #ffc6ff;
    padding-top: 10px;
    padding: 5px;
}

.titles {
    font-size: 10px;
    text-align: center;
    line-height: 1;
    font-family: 'Benne', cursive;
    line-height: 0px;
}

.col-recipe p {
    font-size: 10px;
    margin: 3px;
    padding: 3px;
    font-family: 'Benne';
    line-height: 1;
    text-align: justify;
}

.col-image {
    font-size: 10px;
    text-align: center;
    line-height: 1;
    font-family: 'Benne', cursive;
    background-color: #feeafa;
    padding: 5px;
    line-height: 1;
    display: flex;
}

.col-image .titles {
    display: flex;
    justify-content: left;
    align-items: center;
}

.col-image p {
    display: flex;
    align-items: center;
}

.col-type {
    font-size: 10px;
    font-family: 'Benne';
    line-height: 1;
    text-align: right;
    background-color: #d0d1ff;
    padding-top: 10px;
    padding: 5px;
}

.list-type {
    font-size: 10px;
    margin: 3px;
    padding: 3px;
    font-family: 'Benne';
    line-height: 1;
    text-align: right;
    list-style: none;
}

.column {
    flex: 0%;
    padding: 4px;
    background-color: #adb5bd;
}

/* Footer */
.footer-menu {
    background-color: #494949;
    height: 44px;
    width: 100%;
    z-index: 1;
}

.footer-ul{
    height: 44px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    color: #dddddd;
    font-size: 12px;
    font-family: 'Benne';
}

/* Media queries */
@media (min-width: 540px) {
    .nav-item {
        font-size: 30px;
    }
    .navbar-brand {
        font-size: 30px;
    }
    .col-recipe {
        padding-top: 30px;
        }
    .titles {
        font-size: 1.5em;
    }
    .col-recipe p {
        font-size: 1em;
        line-height: 1.5;
    }
    .col-image {
        font-size: 1.5em;
        padding-top: 30px;
    }
    .col-type {
        font-size: 1em;
        line-height: 1.5;
        padding-top: 30px;
    }
    .list-type {
        font-size: 1em;
        line-height: 1.5;
    }
    .footer-ul {
        font-size: 1.5em;
    }
}

@media (min-width: 900px) {
    .nav-item {
        font-size: 30px;
    }
    .navbar-brand {
        font-size: 50px;    
    }
    .col-recipe {
        padding-top: 30px;
        }
    .titles{
        font-size: 2em;
    }
    .col-recipe p {
        font-size: 1.5em;
        line-height: 1.5;
    }
    .col-image {
        font-size: 2em;
    }
    .col-type {
        font-size: 1em;
        line-height: 1.5;
        padding-top: 30px;
    }
    .list-type {
        font-size: 1.5em;
        line-height: 1.5;
    }
    .footer-ul {
        font-size: 1.5em;
    }
}